main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2rem;
        margin: 3rem 0;
        font-family: 'Plus Jakarta Sans', system-ui;
        color: var(--s2);
        position: relative;
    }

    h1::after {
        content: '_';
        position: absolute;
        color: #af0;
        animation: blink 1s linear infinite;
    }
}

section.hero {

    form {
        width: 26rem;
        background-color: var(--s9);
        background-image: linear-gradient(var(--s8), var(--s9));
        padding: 2rem 3rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        user-select: none;
        position: relative;

        .form__title {
            text-align: center;

            h2 {
                font-family: 'Plus Jakarta Sans', system-ui;
                font-family: 'Space Grotesk', system-ui;
                position: relative;
            }

            h2::after {
                content: '👋';
                position: absolute;
                font-size: 1.5rem;
                bottom: 1rem;
                animation: float 3s linear infinite;
            }

            p {
                font-family: 'Space Grotesk';
                color: var(--s3);
            }
        }

        .form__input {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            /* border: 5px solid #df0; */

            input,
            select,
            option {
                height: 3rem;
                padding: 0 1rem;
                border: none;
                outline: none;
                /* border-radius: .5rem; */
                font-family: 'Space Grotesk', system-ui;
                color: var(--s0);
                transition: all 0.3s ease;
                border: 2px solid var(--s5);
                background-color: var(--s7);
            }

            input::placeholder {
                color: var(--s4);
            }

            input:focus {
                border: 2px solid springgreen;
                box-shadow: 0 0 5px 0 rgba(0, 255, 128, 0.5);
            }

            select {
                margin-left: 2px;
                appearance: none;
                height: 3rem;
            }

            select:focus,
            option:focus {
                border: 2px solid #af0;
                box-shadow: 0 0 5px 0 rgba(170, 255, 0, 0.5);
                box-shadow: inset 0 0 50px 0 rgba(170, 255, 0, 0.3);
            }

            .form__group-1 {
                display: flex;

                input {
                    width: 100%;
                }

                select {
                    width: 3rem;
                }
            }

            .form__group-2 {
                display: flex;

                select {
                    width: 6rem;
                    text-align: center;
                }
            }
        }

        button {
            width: max-content;
            height: 2.5rem;
            width: 10rem;
            border: none;
            outline: none;
            /* clip-path: polygon(15% 0, 100% 0, 100% 53%, 85% 100%, 0 100%, 0 50%); */
            background-color: transparent;
            text-transform: uppercase;
            font-family: 'Clash Display', system-ui;
            letter-spacing: 1px;
            font-weight: 600;
            position: relative;
            isolation: isolate;
            z-index: 1;
            transition: all 0.3s ease;
            filter: drop-shadow(0 0 5px #af0);
        }

        button::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background: linear-gradient(#af0, #df0);
            clip-path: polygon(15% 0, 100% 0, 100% 53%, 85% 100%, 0 100%, 0 50%);
            z-index: -1;
            transition: background-color 0.3s ease;
        }

        button:hover {
            /* background-color: hsl(80, 100%, 45%); */
            filter: drop-shadow(0 0 2.5px #af0);
        }

        /* 
        button:focus {
            filter: drop-shadow(0 0 10px #af0);
        } */

        .form__control {
            display: flex;
            width: calc(100% - 2rem);
            justify-content: space-between;
            position: absolute;
            bottom: 1rem;
        }

        .form__control>* {
            font-size: 2rem;
            color: var(--s6);
            transition: all 0.3s ease;
        }

        .form__control>*:hover {
            color: var(--s4);
            cursor: pointer;
        }
    }
}

@keyframes float {

    0%,
    50%,
    100% {
        rotate: 0deg;
    }

    25% {
        rotate: 30deg;
    }

    75% {
        rotate: -30deg;
    }

}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.shadow-purple {
    width: 20rem;
    height: 10rem;
    background-color: purple;
    border-radius: 50%;
    filter: blur(8rem);
    position: absolute;
    transform: translateY(-100%);
    z-index: -10;
}

.shadow-cyan {
    width: 2rem;
    height: 8rem;
    background-color: cyan;
    border-radius: 4rem;
    filter: blur(6rem);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -10;
}

.shadow-lime {
    width: 8rem;
    height: 8rem;
    background-color: lime;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    filter: blur(8rem);
    position: absolute;
    transform: translate(0%, 75%);
    z-index: -10;
}